@font-face
{
  font-family: 'Gotham';

  src: local('gothamBold'), url('gothamBold.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*:before,
*:after {
  box-sizing: border-box;
  
}
.divider {
  display: inline-block;
  border-bottom: #e9936d 3px solid;
  width: 15%;
  margin:30px;
  margin-left:0px;
}
.divider2 {
  display: inline-block;
  border-bottom: #70c8ee 3px solid;
  width: 15%;
  margin-left: 35.5%;
  margin-top:-35px;
}

.divider3 {
  display: inline-block;
  border-bottom: #604ed1 3px solid;
  width: 15%;
  margin-left: 70.8%;
  margin-top:-35px;
}

html {
font-family: 'Gotham';
  background-color: #eeeeee;

}

h1,
h4 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  color:#3e3d49;
  font-weight: 500;
  padding-top:10px;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Gotham';
}
.test
{

	font-family: 'Gotham';
	color: #f3f6fb;
	text-align:center;
}
.name
{
	margin-top:-480px;
	margin-left:100px;
}
.idea
{
	margin-top:-1.2%;
	font-family: 'Gotham';
	color: #f3f6fb;
}
.progress
{
	margin-top:-1.2%;
	font-family: 'Gotham';
	color: #f3f6fb;
}
.done
{
	margin-top:-1.2%;
	font-family: 'Gotham';
	color: #f3f6fb;
}

.container {
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  height:50%;

}

.col {

}



.card1 {
  /* Add shadows to create the "card" effect */
  position:fixed;
  box-shadow: 30px 30px 20px -10px rgba(0,0,0,0.75);
  transition: 0.3s;
  top:20%;
  left:20%;
  width:79%;
  height:90%;
}


/* Add some padding inside the card container */
.container1 {
padding: 1px 1px;
font-family:'Gotham';
}

.card 
{
  display: block;
  text-align: left;
  color: #f3f6fb;
  box-shadow: 0px 30px 20px -10px rgba(0,0,0,0.25);
  width: 20%;

  height:20%;
  border-radius: 25px;
  position:fixed;
 }

.card3 
{
  display: block;
  text-align: left;
  color: #f3f6fb;
  box-shadow: 0px 30px 20px -10px rgba(0,0,0,0.25);
  width: 20%;
  left:48%;
  height:20%;
  position:fixed;
  padding-top:1px;
 }

.card4 
{
  display: block;
  text-align: left;
  color: #f3f6fb;
  box-shadow: 0px 30px 20px -10px rgba(0,0,0,0.25);
  width: 20%;
  left:76%;
  height:20%;
  position:fixed;
  padding-top:1px;
 }



.card .content {
  padding: 1rem 1rem;
  height:100%;
  width:100%;
  
  
}

.card3 .content {
  padding: 1rem 1rem;
  height:100%;
  width:100%;
  
  
}

.card4 .content {
  padding: 1rem 1rem;
  height:100%;
  width:100%;
  
  
}

.card .pro {
	color: #3e3d49;
	border-radius: 3px;
	font-size: 24px;
	padding: 1px 5px;
	position: absolute;
	top: 15px;
	left: 9px;
	
}

.card3 .pro {
	color: #3e3d49;
	border-radius: 3px;
	font-size: 18px;
	padding: 1px 5px;
	position: absolute;
	top: 15px;
	left: 9px;
	
}

.card4 .pro {
	color: #3e3d49;
	border-radius: 3px;
	font-size: 18px;
	padding: 1px 5px;
	position: absolute;
	top: 15px;
	left: 9px;
	
}

.card .date {
	color: #909496;
	border-radius: 3px;
	font-size: 12px;
	padding: 1px 5px;
	position: absolute;
	top: 90%;
	left: 82%;
	font-family: 'Gotham';	
}
.card3 .date {
	color: #909496;
	border-radius: 3px;
	font-size: 12px;
	padding: 1px 5px;
	position: absolute;
	top: 90%;
	left: 82%;
	font-family: 'Gotham';
	
}.card4 .date {
	color: #909496;
	border-radius: 3px;
	font-size: 12px;
	padding: 1px 5px;
	position: absolute;
	top: 90%;
	left: 82%;
	font-family: 'Gotham';
	
}
.card .title {
    font-size: 1.25rem;
    border-radius: 3px;
	font-family: Montserrat, sans-serif;
	color:#3e3d49;
	padding-top:10px;
}
.card3 .title {
    font-size: 1.25rem;
    border-radius: 3px;
	font-family: Montserrat, sans-serif;
	color:#3e3d49;
	padding-top:10px;
}
.card4 .title {
    font-size: 1.25rem;
    border-radius: 3px;
	font-family: Montserrat, sans-serif;
	color:#3e3d49;
	padding-top:10px;
}

.card-2 .content {
 background: #f3f6fb;
	padding-top:50px;
  
}

.card-3 .content {
 background: #f3f6fb;
	padding-top:50px;
  
}
.card-4 .content {
 background: #f3f6fb;
	padding-top:50px;
  
}
.card-2:before, .card-2:after {
  
   background-color: #f3f6fb !important;
}
.card-2:before {
  background-color: #f3f6fb !important;
}

